name: Test Master Branch

on:
  schedule:
    - cron: "0 1 * * *"
  push:
    branches:
      - master
env:
  PYTHON: 3.8

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ env.PYTHON }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r test-requirements.txt
      - name: Audit Python packages for known vulnerabilities
        run: ossaudit --installed --config setup.cfg --username ${{ secrets.OSS_USERNAME }} --token ${{ secrets.OSS_TOKEN }}
      - name: Run unit tests with coverage
        run: coverage run --source=marshmallow_objects setup.py test
      - name: Codecov
        uses: codecov/codecov-action@v1
        with:
          yml: ./.codecov.yml
